@import url(http://fonts.googleapis.com/css?family=Iceland);

/* tags */

body {
	background-color:#fefefe;
	background-attachment:fixed;
	background-image:-webkit-gradient(linear, left 0%, left 80%, from(#EFEFEF), to(#FEFEFE));
	background-image:-webkit-linear-gradient(#EFEFEF, #FEFEFE 600px);
	background-image:   -moz-linear-gradient(#EFEFEF, #FEFEFE 600px);
	background-image:    -ms-linear-gradient(#EFEFEF, #FEFEFE 600px);
	background-image:     -o-linear-gradient(#EFEFEF, #FEFEFE 600px);
	background-image:        linear-gradient(#EFEFEF, #FEFEFE 600px);
	    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColor=#EFEFEF, endColor=#FEFEFE);
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColor=#EFEFEF, endColor=#FEFEFE)";
	color:#030303;
	font-family:Arial, "Lucida Sans", "MS Sans", Helvetica, sans-serif;
	font-size:12pt;
	font-weight:normal;
	text-decoration:none;
	border:0;
	
}

h1 {
	color:#050505;
	font-family:Arial, Helvetica, sans-serif;
	font-size:36pt;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}

img {
	border:0;
}

a {
	color:#030303;
	text-decoration:underline;
}
a:visited {
	color:#030303;
}
a:hover {
	color:#333333;
}
a:active {
	color:#808080;
}

iframe {
	border-style:none;
	border-width:0px;
}

/* normal classes */

.currentpg {
	color:#030303;
	font-size:12pt;
	font-weight:bold;
	text-decoration:none;
}

.mainpara {
}

.smalltext {
	color:#030303;
	font-size:8pt;
	font-weight:normal;
	text-decoration:none;
}
a.smalltext {
	color:#030303;
	text-decoration:underline;
}
a.smalltext:visited {
	color:#030303;
}
a.smalltext:hover {
	color:#333333;
}
a.smalltext:active {
	color:#808080;
}

.game {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	
	height:auto;
}
.share {
	vertical-align:center;
}
td.share {
	margin:8px;
}
.feedback {
	border-left-style:solid;
	border-left-width:1px;
	border-left-color:lightgray;
	
	background-image:url(/public/images/icons/envelope.png);
	background-repeat:no-repeat;
	background-position:center center;
	
	text-align:center;
}

/* positioning classes */
.logo {
	position:absolute;
	top:2px;
	left:2px;
	width:250px;
	height:140px;
	text-align:left;
	vertical-align:middle;
	z-index:50;
	visibility:visible;
}
.tagline {
	font-size:8pt;
	
	position:relative;
	left:3px;
	top:-5px;
}

#header {
	position:absolute;
	top:30px;
	left:202px;
	width:748px;
	text-align:center;
	vertical-align:middle;
	z-index:50;
	visibility:visible;
}

.navbar {
	position:absolute;
	top:-1px;
	left:225px;
	text-align:left;
	z-index:50;
	visibility:visible;
}

#main {
	position:absolute;
	top:145px;
	left:230px;
	width:749px;
	text-align:left;
	vertical-align:top;
	z-index:50;
	visibility:visible;
}
.tm {
	color:#030303;
	font-size:6pt;
	
	position:relative;
	left:-5px;
}
footer {
	text-align:center;
	width:750px;
	visibility:visible;
	margin:4em auto 2em;
}

/* navbtns */
.navbtnCurrentPg {
	background-color:LightGray;
	
	background-image:-webkit-linear-gradient(#fafafa, #b8b8b8);
	background-image:   -moz-linear-gradient(#fafafa, #cdcdcd);
	background-image:     -o-linear-gradient(#fafafa, #cdcdcd);
	background-image:        linear-gradient(#fafafa, #cdcdcd);
	
	    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColor=#f0f0f0, endColor=#cdcdcd);
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColor=#f0f0f0, endColor=#cdcdcd)";
	
	color:Black;
	font-family:Iceland, sans-serif;
	font-weight:bold;
	font-size:28pt;
	text-decoration:none;
	text-align:center;
	padding-top:14px;
	
	border-width:0px;
	 -webkit-border-bottom-left-radius:24px;
	-webkit-border-bottom-right-radius:24px;
	     -moz-border-radius-bottomleft:24px;
	    -moz-border-radius-bottomright:24px;
	         border-bottom-left-radius:24px;
	        border-bottom-right-radius:24px;
	
	position:absolute;
	width:150px;
	height:40px;
	top:0px;
	
	-webkit-user-select:none;
	   -moz-user-select:none;
	        user-select:none;
}
.navbtn {
	background-color:LightGray;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#c8c8c8));
	background-image:-webkit-linear-gradient(#fafafa, #c8c8c8);
	background-image:   -moz-linear-gradient(#fafafa, #cdcdcd);
	background-image:     -o-linear-gradient(#fafafa, #cdcdcd);
	background-image:        linear-gradient(#fafafa, #cdcdcd);
	    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColor=#f0f0f0, endColor=#cdcdcd);
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColor=#f0f0f0, endColor=#cdcdcd)";
	
	color:Black;
	font-family:Iceland, sans-serif;
	font-size:28pt;
	text-decoration:none;
	text-align:center;
	padding-top:6px;
	
	border-width:0px;
	 -webkit-border-bottom-left-radius:18px;
	-webkit-border-bottom-right-radius:18px;
	     -moz-border-radius-bottomleft:18px;
	    -moz-border-radius-bottomright:18px;
	         border-bottom-left-radius:18px;
	        border-bottom-right-radius:18px;
	
	position:absolute;
	width:150px;
	height:37px;
	top:-8px;
	
	-webkit-user-select:none;
	   -moz-user-select:none;
	        user-select:none;
	
	-webkit-transition-property:top;
	-webkit-transition-duration:0.05s;
	-webkit-transition-timing-function:linear;
	-moz-transition-property:top;
	-moz-transition-duration:0.05s;
	-moz-transition-timing-function:linear;
	-ms-transition-property:top;
	-ms-transition-duration:0.05s;
	-ms-transition-timing-function:linear;
	-o-transition-property:top;
	-o-transition-duration:0.05s;
	-o-transition-timing-function:linear;
	transition-property:top;
	transition-duration:0.05s;
	transition-timing-function:linear;
}
.navbtn:hover {
	top:0px;
}
.navbtn:active {
	background-image:-webkit-gradient(linear, left top, left bottom, from(#cdcdcd), to(#d0d0d0));
	background-image:-webkit-linear-gradient(#cdcdcd, #d0d0d0);
	background-image:   -moz-linear-gradient(#cdcdcd, #d0d0d0);
	background-image:    -ms-linear-gradient(#cdcdcd, #d0d0d0);
	background-image:     -o-linear-gradient(#cdcdcd, #d0d0d0);
	background-image:        linear-gradient(#cdcdcd, #d0d0d0);
	    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColor=#f0f0f0, endColor=#cdcdcd);
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColor=#f0f0f0, endColor=#cdcdcd)";
}
#homebtn {
	left:0px;
	visibility:visible;
	font-size:32pt;
	text-decoration:none;
}
#newsbtn {
	left:148px;
	visibility:visible;
	font-size:30pt;
}
#gamesbtn {
	left:296px;
	visibility:visible;
	font-size:28pt;
}
#peoplebtn {
	left:444px;
	visibility:visible;
	font-size:26pt;
}
