			<footer>
				<p style="font-size:5pt; text-align:center;">
					All content on this site &copy;2012 by Inverted Productions, (L) Games, Legitimate Flash Games, and/or LiquidForge unless otherwise noted.
				</p>
				<div style="text-align:center;">
					<img src="/public/images/logos/l_games.png" style="vertical-align:middle;" alt="(L) Games" />
					&nbsp;
					<span style="font-family:Impact; font-style:Italic;">Legitimate Flash Games</span>
					<!-- <img src="lf.png" style="vertical-align:middle;"alt="LiquidForge" /> -->
				</div>
			</footer>
		</div>
	</body>
</html>
