<!DOCTYPE html>
<html>
	<head>
		<meta name="google-site-verification" content="QL0VJHpt5cMGsv_HhmqEgze2PjYRR1Ih9TyPOz2lqDw"/>
		
		{% if keywords %}
			<meta name="keywords" content="{{ keywords }}" />
		{% else %}
			<meta name="keywords" content="inverted, productions, games, flash, java, program, legitimate, L, LiquidForge, tower, defense" />
		{% endif %}
		{% if description %}
			<meta name="description" content="{{ description }}" />
		{% endif %}
		<meta name="language" content="en" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{% if title %}
			<title>{{ title }} - Inverted Productions</title>
		{% else %}
			<title>Inverted Productions - Turning your gaming world upside-down</title>
		{% endif %}
		<link rel="stylesheet" type="text/css" href="/public/styles/styles.css" />
		<link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico" />
		<link rel="alternate" type="application/rss+xml" title="inProd Latest News" href="/public/rss.xml"/>
		<link rel="publisher" href="https://plus.google.com/117553032782875379546"/>
